ul#menu {
    background: #00abf0;
    width: 940px;
    float:left;
    padding: 5px;
    
   }
     
   ul#menu li {
    color: #fff;
    float: left;
    list-style: none;
    margin: 0% 5%;
   }
     
   ul#menu li:hover{
    color: #fffef7;
    cursor:pointer;
   }
     
   ul#menu ul {
    display: none;
    position: absolute;
    
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 5px 0px 5px 5px;
    margin: 0;
    }
     
   ul#menu ul li{
    float: left;
    color: #fff;
    width:100%;
    margin:2% 0%;
   }
    
    
   ul#menu ul li a{
    color: #fff;
   }
     
   ul#menu ul li a:hover{
    color: #ffffff;
    cursor:pointer;
   }
     
   ul#menu li:hover ul ul,ul#menu li:hover ul ul ul,ul#menu li.iehover ul ul,ul#menu li.iehover ul ul ul {
    display: none;
    cursor:pointer;
   }
     
   ul#menu li:hover ul,ul#menu ul li:hover ul,ul#menu ul ul li:hover ul,ul#menu li.iehover ul,ul#menu ul li.iehover ul,ul#menu ul ul li.iehover ul {
    display: block;
    cursor:pointer;
   }


img{
    height: 80px;
    width: 10 ;
    margin-left: 350px;

}
.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #142064;}
	.social ul li .icon-googleplus {background: #dd3914;}
	
	.social ul li .icon-mail {background: #c40818;}
 
	.social ul li a:hover {
		background: rgb(238, 221, 73); /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}




